@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 113px;
  width: 100%;
  margin-bottom: 90px;
  div.name_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    h1 {
      font-family: "Volkhov", serif;
    }
  }

  nav {
    position: relative;
    ul.desktop_navigation {
      display: none;
      gap: 32px;
    }
    ul.mobile_navigation {
      display: none;
      position: absolute;
      right: -30px;
      background-color: rgba(253, 244, 244, 0.822);
      padding: 10px;
    }
    img.burger_img:hover ~ ul.mobile_navigation {
      display: block;
    }
    a {
      text-decoration: none;
      color: #222222;
    }
    ul {
      list-style: none;
    }
  }
}

button.sign_up {
  display: none;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  background-color: #002699;
  border: none;
  color: #ffffff;
  box-shadow: 0px 8px 16px 0px #fa74363d;
}
button.show_btn {
  display: block;
}

/* section first */

section.first {
  div.rent_article {
    padding: 0 30px;
    margin-bottom: 144px;
    h2 {
      font-size: 64px;
      font-weight: 700;
      font-family: "Volkhov", serif;
      color: #222222;
      width: 340px;
      margin-bottom: 32px;
    }
    p.first_paragraph {
      color: #666666;
      font-size: 20px;
      line-height: 40px;
      font-weight: 400;
      width: 324px;
      margin-bottom: 48px;
    }
  }
  div.main_image {
    max-width: 700px;
    img {
      width: 100%;
    }
  }
}

/* section second */
section.second {
  height: 279px;
  width: 100%;
  background-color: #b2bbde;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;

  h2 {
    font-family: "Volkhov", serif;
    color: #222222;
    font-size: 48px;
    font-weight: 700;
    width: 395px;
  }
  p {
    font-size: 18px;
    color: #666666;
    line-height: 32px;
    font-weight: 400;
    width: 365px;
  }
}

section.third {
  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 108px;

    div.best_trip {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 37.7px;
      h2 {
        font-size: 48px;
        font-weight: 700;
        font-family: "Volkhov", serif;
        color: #222222;
        width: 331px;
      }
      p {
        width: 400px;
        font-size: 18px;
        color: #666666;
        line-height: 32px;
        margin-bottom: 36px;
      }
    }

    div.cars {
      display: flex;
      flex-direction: column;
      gap: 36.12px;
      border-radius: 16px;
      img {
        width: 369px;
        height: 286px;
      }
      div.white,
      .black,
      .orange {
        width: 370px;
        height: 390px;
        border: 2px solid #66666614;
        border-radius: 16px;
        p.place {
          color: #222222;
          font-size: 24px;
          padding-right: 74px;
        }

        img.white_car {
          border-radius: 16px;
        }
        div.price {
          display: flex;
          align-items: center;
          padding: 24px;
        }
        span {
          font-size: 24px;
          color: #002699;
          font-weight: 600;
        }
      }
    }
  }
}

section.fifth {
  width: 400px;
  height: 412px;
  background-color: #002699;
  border-radius: 16px;
  h3 {
    font-family: "Volkhov", serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media screen and (min-width: 1150px) {
  header {
    nav {
      img.burger_img {
        display: none;
      }
      ul.desktop_navigation {
        display: flex;
      }
    }
    button.sign_up {
      display: block;
    }
  }
  section.first {
    display: flex;
    justify-content: center;
    gap: 111px;
    margin-bottom: 137px;
    div.rent_article {
      h2 {
        width: 536px;
        margin-bottom: 20px;
      }
      p.first_paragraph {
        width: 497px;
        margin-bottom: 108.7px;
      }
    }
    div.main_image {
      img {
        width: 502px;
        height: 502px;
      }
    }
  }

  section.second {
    height: 352px;
    h2 {
      width: 521px;
    }
    p {
      width: 482px;
      margin-top: 43px;
    }
  }

  section.third {
    div.container {
      div.best_trip {
        gap: 26px;
        h2 {
          width: 438px;
        }
        p {
          width: 521px;
        }
      }
      div.cars {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
